.speech {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: black;
}

.direction {
    font-family: 'Times New Roman', serif;
    font-size: 14px;
    color: black;
    background-color: #f4f4f4;
}

.direction:hover {
    background-color: lightgray;
    color: white;
}

.zinaida {
    color: blue;
}

.marta {
    color: green;
}

.first-guest {
    color: red;
}

.gabriel {
    color: aqua;
}

.kosich {
    color: darkgoldenrod;
}

.table {
    border-collapse: collapse;
    width: 100%;
    margin: 1rem auto;
    padding: 1rem;
}

.table th {
    background-color: #333;
    color: white;
    border: 1px solid #ccc;
    text-align: center;
    padding: 0.5rem;
}

.table td {
    border: 1px solid #ccc;
    text-align: center;
    padding: 0.5rem;
}

.table tr:nth-child(even) td {
    background-color: gray;
}

.name:hover {
    text-shadow: 2px 2px 5px #ff0000;
    border: 1px solid #ff0000;
}